[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/CWood-sdf/nvim.git
[submodule "alacritty/.config/alacritty"]
	path = alacritty/.config/alacritty
	url = https://github.com/CWood-sdf/alacritty.git
[submodule "tmux/.config/tmux"]
	path = tmux/.config/tmux
	url = https://github.com/CWood-sdf/tmux.git
[submodule "btop/.config/btop"]
	path = btop/.config/btop
	url = https://github.com/CWood-sdf/btop.git
